.leaderboard {
    display: grid;
    gap: 8px;
    padding: 6px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 18px;
    background: rgba(0,0,0,0.3);
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.6));
    margin-bottom: 40px;
}

.statsInfo {
    display: flex;
    padding: 2px 8px;
    font-size: 20px;
    justify-content: center;
}

.Btn {
    padding: 6px 6px;
    margin: 2px 4px;
    font-size: 22px;
}

.EditBtnWrapper {
    padding: 2px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px; 
    height: 22px;
    cursor: pointer;
    margin-right: 5px;
  }

.EditBtn {
    width: 32px;
    height: 32px;
    box-shadow: none !important;
}

.Player {
    min-width: 30px;
    max-width: 120px;
    flex-grow: 1;
    text-align: left;
    margin-right: 80px;
    overflow: hidden;
    /* allows for multiple words in a player name on one line */
    white-space: nowrap;
    text-overflow: ellipsis;
}

.SortByScore {
    background: black;
    border: 1px 1px gray;
    border-radius: 8px;
    padding: 4px;
    text-shadow: 1px 1px gray;
    font-size: 16px;
}

.SortByScore:hover {
    background: red;
}

.paginationControls {
    margin: 4px 8px;
}

.prevBtn, .nextBtn {
    padding: 6px 8px;
    font-size: 20px;
}

.pageSpan {
    padding: 2px 6px;
}