.MatchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    padding: 0 10px;
    margin-bottom: 18px;
}

.Game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    top: 200px;
    left: 500px;
    background: rgba(0,0,0,0.3);
    border: 2px solid black;
    border-radius: 18px;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.6));
}

.LoadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.Loading {
   font-size: 30px;
   position: relative;
   right: 5px;
   top: 200px;
}

.FetchingMode {
    font-size: 20px;
    color: #665;
    position: relative;
    top: 200px;
}