.GameBackBtn {
  position: relative;
  font-size: 24px;
  right: 500px;
  top: 12px;
}

.LoadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.Loading {
  font-size: 30px;
  position: relative;
  right: 5px;
  top: 200px;
}

.FetchingMode {
  font-size: 20px;
  color: #665;
  position: relative;
  top: 200px;
}

.PlayerForm {
  margin-top: 60px;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.6));
}

.playerLabel {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 30px;
}

.StylePlayerInput {
  padding: 4px 8px;
  margin: 0 12px;
  border-radius: 8px;
  font-size: 22px;
}

/* dynamic grid sizing for number of cards */
@media (max-width: 1024px) {
  .Game {
    grid-template-columns: repeat(4, 1fr);
    max-width: 640px;
  }

  .Game > :nth-child(n+17) {
    display: none;
  }

  .GameBackBtn {
    font-size: 20px;
    right: 350px;
  }
}

@media (max-width: 600px) {
  .Game {
    grid-template-columns: repeat(2, 1fr);
    max-width: 320px;
    margin-left: 15px;
  }

  .Game > :nth-child(n+9) {
    display: none;
  }

  .GameBackBtn {
    font-size: 16px;
    padding: 6px 12px;
    right: 175px;
  }
}