.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
  }

  .navItem {
    text-align: center;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: color 0.3s;
  }

  .navItem:hover span {
    color: red;
  }

  .navItem span {
    color: white;
  }

  .activeLink span {
    color: red;
    cursor: pointer;
    font-weight: bo
  }

.Settings, .Home, .Info {
    /* width: 140px;
    height: 140px; */
    /* position: absolute; */
    /* top: 10px; */
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.6));
}

/* remove .Settings and .Info later when I add my ButtonSound */
.Settings {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 170px;
    top: 10px;
}

.Home {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 798px;
    top: 22px;
}

.Info {
    width: 130px;
    height: 125px;
    position: absolute;
    /* right: 160px; */
    left: 1425px;
    top: 20px;
}

.SetText, .HomeText, .InfoText {
    font-size: 20px;
}

.SetText {
    position: absolute;
    left: 205px;
    top: 130px;
}

.HomeText {
    position: absolute;
    left: 825px;
    top: 130px;
}

.InfoText {
    position: absolute;
    right: 220px;
    top: 130px;
}

  